.order {
  display: flex;
  padding: 20px 0 24px;
  border-bottom: 1px solid #D6D8E3;

  @media (max-width: 600px) {
    position: relative;
    padding-top: 50px;
  }

  &__img {
    width: 88px;
    height: 102px;
    object-fit: contain;
    border-radius: 8px;
  }

  &__cells {
    display: flex;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__cell {
    padding: 13px 30px 0;
    border-left: 1px solid #E7E9F1;

    &:first-of-type {
      padding-left: 17px;
      border-left: none;
    }

    &:last-child {
      padding-right: 0;
      min-width: 89px;
      text-align: end;
    }

    @media (max-width: 1200px) {
      padding: 13px 20px 0;
    }

    @media (max-width: 1024px) {
      border-left: none;

      &:first-of-type {
        width: 100%;
        padding-right: 0;
        padding-top: 0;
      }
    }

    @media (max-width: 600px) {
      padding: 13px 10px 0;

      &:last-child {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 0;
        text-align: start;

        .order__title {
          display: none;
        }
      }
    }
  }

  &__title {
    font-size: 14px;
    line-height: calc(21 / 14);
    color: #6C6D72;
  }

  &__text {
    margin-top: 5px;
    color: #0E0D0D;
    font-size: 15px;
    font-family: "Akrobat", "Helvetica", sans-serif;
    font-weight: 800;
    line-height: calc(26 / 15);
    text-transform: uppercase;

    @media (max-width: 1024px) {
      margin-top: 0;
    }

    &_green {
      color: #2D9E2B;
    }

    &_brown {
      color: #8B6E23;
    }

    &_blue {
      color: #6885CE;
    }
  }
}