<li class="order">
  <img class="order__img" src="@@imgURL" alt="product-1">
  <div class="order__cells">
    <div class="order__cell">
      <p class="order__title">Название</p>
      <p class="order__text">@@title</p>
    </div>
    <div class="order__cell">
      <p class="order__title">Стоимость</p>
      <p class="order__text">@@price</p>
    </div>
    <div class="order__cell">
      <p class="order__title">Количество</p>
      <p class="order__text">@@amount</p>
    </div>
    <div class="order__cell">
      <p class="order__title">Дата</p>
      <p class="order__text">@@date</p>
    </div>
    <div class="order__cell">
      <p class="order__title">Статус</p>
      <p class="order__text order__text_@@color">@@status</p>
    </div>
  </div>
</li>