<section class="calendar-block container">
  <h2 class="title-h2">Календарь тура</h2>
  <p class="calendar-block__description">Выберите дату тура и заполните форму</p>
  <form action="" class="calendar-block__form">
    <div class="calendar">
      <ul class="calendar__month">
        <button type="button" class="calendar__prev"></button>
        <li>Март</li>
        <button type="button" class="calendar__next"></button>
      </ul>
      <ul class="calendar__weekdays">
        <li>Пн</li>
        <li>Вт</li>
        <li>Ср</li>
        <li>Чт</li>
        <li>Пт</li>
        <li>Сб</li>
        <li>Вс</li>
      </ul>
      <ul class="calendar__days">
        <li class="calendar__day"><p>1</p></li>
        <li class="calendar__day calendar__day_active"><p>2</p></li>
        <li class="calendar__day"><p>3</p></li>
        <li class="calendar__day"><p>4</p></li>
        <li class="calendar__day"><p>5</p></li>
        <li class="calendar__day"><p>6</p></li>
        <li class="calendar__day"><p>7</p></li>
        <li class="calendar__day"><p>8</p></li>
        <li class="calendar__day"><p>9</p></li>
        <li class="calendar__day"><p>10</p></li>
        <li class="calendar__day"><p>11</p></li>
        <li class="calendar__day"><p>12</p></li>
        <li class="calendar__day"><p>13</p></li>
        <li class="calendar__day"><p>14</p></li>
        <li class="calendar__day"><p>15</p></li>
        <li class="calendar__day"><p>16</p></li>
        <li class="calendar__day"><p>17</p></li>
        <li class="calendar__day"><p>18</p></li>
        <li class="calendar__day"><p>19</p></li>
        <li class="calendar__day"><p>20</p></li>
        <li class="calendar__day"><p>21</p></li>
        <li class="calendar__day"><p>22</p></li>
        <li class="calendar__day"><p>23</p></li>
        <li class="calendar__day"><p>24</p></li>
        <li class="calendar__day"><p>25</p></li>
        <li class="calendar__day"><p>26</p></li>
        <li class="calendar__day"><p>27</p></li>
        <li class="calendar__day"><p>28</p></li>
        <li class="calendar__day"><p>29</p></li>
        <li class="calendar__day"><p>30</p></li>
        <li class="calendar__day"><p>31</p></li>
      </ul>
    </div>
    <div class="form-calendar">
      <div class="form-calendar__row">
        <div class="form-calendar__wrapper">
          <label for="name-1">Как вас зовут</label>
          <input type="text" id="name-1" name="name-1">
        </div>
        <div class="form-calendar__wrapper">
          <label for="amount">Количество человек</label>
          <input type="text" id="amount" name="amount">
        </div>
      </div>
      <div class="form-calendar__row">
        <div class="form-calendar__wrapper">
          <label for="mail">Ваш Email</label>
          <input type="email" id="mail" name="mail">
        </div>
        <div class="form-calendar__wrapper">
          <label for="phone">Ваш номер телефона</label>
          <input type="tel" id="phone" name="phone">
        </div>
      </div>
      <div class="form-calendar__row">
        <div class="form-calendar__wrapper">
          <p>Трансфер</p>
          <div class="form-calendar__radio-row"><input class="radio" type="radio" name="transfer" id="yes"
              checked><label for="yes">Нужен</label>
            <input class="radio" type="radio" name="transfer" id="no"> <label for="no">Не нужен</label>
          </div>
        </div>
        <div class="form-calendar__wrapper">
          <p>Оплата</p>
          <div class="form-calendar__radio-row">
            <input class="radio" type="radio" name="pay" id="transfer" checked><label for="transfer">Перводом</label>
            <input class="radio" type="radio" name="pay" id="account"> <label for="account">По счету</label>
          </div>
        </div>
      </div>
      <button class="button button_colored">Забронировать место</button>
      <button class="button button_grd">Зарезервировать</button>
      <p class="form-calendar__description">Нажимая на кнопку “Забронировать тур”, вы принимаете условия политики конфиденциальности дананных</p>
    </div>
  </form>
</section>