<section class="gallery">
  <div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide gallery__card">
        <img src="/static/images/gallery-1.jpg" alt="gallery-1" class="image">
        <button class="play-button"></button>
      </div>
      <div class="swiper-slide gallery__card">
        <img src="/static/images/gallery-2.jpg" alt="gallery-2" class="image">
      </div>
      <div class="swiper-slide gallery__card">
        <img src="/static/images/gallery-3.jpg" alt="gallery-3" class="image">
      </div>
      <div class="swiper-slide gallery__card">
        <img src="/static/images/gallery-4.jpg" alt="gallery-4" class="image">
        <button class="play-button"></button>
      </div>
    </div>
  </div>
</section>