<section class="pick container">
  <h2 class="pick__title title-grd">подобрать тур</h2>
  <div class="pick__content">
    <form action="" class="pick-form">
      <div class="pick-form__options">
        <div class="pick-form__date">
          <p class="pick-form__label">Выберите даты туров</p>
          <p class="pick-form__option">20.04 - 28.04</p>
          <span class="pick-form__arrow"></span>
        </div>
        <div class="pick-form__amount">
          <p class="pick-form__label">Количество человек</p>
          <p class="pick-form__option">6</p>
          <span class="pick-form__arrow pick-form__arrow_minus"></span>
          <span class="pick-form__arrow pick-form__arrow_plus"></span>
        </div>
      </div>
      <div class="pick-form__fieldset">
        <p class="pick-form__label">Какие у вас цели</p>
        <div>
          <input type="radio" name="target" id="Reboot" checked> <label for="Reboot"><span>Перезагрузиться</span></label>
          <input type="radio" name="target" id="overcome"> <label for="overcome"><span>Преодолеть себя</span></label>
          <input type="radio" name="target" id="beautiful"> <label for="beautiful"><span>Красивые места</span></label>
          <input type="radio" name="target" id="extreme"> <label for="extreme"><span>Хочу экстрим</span></label>
          <input type="radio" name="target" id="relax"> <label for="relax"><span>Релакс и
              оздоровление</span></label>
          <input type="radio" name="target" id="delicious"> <label for="delicious"><span>Вкусный тур</span></label>
        </div>
      </div>
      <div class="pick-form__fieldset">
        <p class="pick-form__label">Сложность тура</p>
        <div>
          <input type="radio" name="complexity" id="easy" checked> <label for="easy"><span>Легкий</span></label>
          <input type="radio" name="complexity" id="normal"> <label for="normal"><span>Нормальный</span></label>
          <input type="radio" name="complexity" id="hard"> <label for="hard"><span>Сложный</span></label>
          <input type="radio" name="complexity" id="hell"> <label for="hell"><span>Чертово пекло</span></label>
        </div>
      </div>
      <div class="pick-form__fieldset">
        <p class="pick-form__label">Размещение</p>
        <div>
          <input type="radio" name="accommodation" id="tent" checked> <label for="tent"><span>Палатка</span></label>
          <input type="radio" name="accommodation" id="hotel"> <label for="hotel"><span>Отель</span></label>
          <input type="radio" name="accommodation" id="house"> <label for="house"><span>Домик</span></label>
          <input type="radio" name="accommodation" id="stone"> <label for="stone"><span>Хочу на камнях спать</span></label>
        </div>
      </div>
      <div class="pick-form__fieldset">
        <p class="pick-form__label">Питание</p>
        <div>
          <input type="radio" name="food" id="cafe" checked> <label for="cafe"><span>Кафе</span></label>
          <input type="radio" name="food" id="restaurant"> <label for="restaurant"><span>Ресторан</span></label>
          <input type="radio" name="food" id="eggs"> <label for="eggs"><span>С дома яички возьму</span></label>
        </div>
      </div>
      <button class="button button_grd pick-form__button"><span class="button-txt">Подобрать тур</span></button>
    </form>
    <div class="pick__verdict">
      <img class="pick__verdict-img" src="/static/images/pick.png" alt="verdict">
      <div class="pick__verdict-wrapper">
        <p class="pick__verdict-type">Ваш тип туриста</p>
        <p class="pick__verdict-text">“Салага с потенциалом”</p>
      </div>
    </div>
  </div>
</section>