.webpage {
  padding-top: 206px;
  margin-bottom: -50px;

  @media (max-width: 768px) {
    padding-top: 97px;
  }

  &__breadcrumbs {
    display: flex;
    font-size: 14px;
    line-height: calc(24/14);

    @media (max-width: 768px) {
      display: none;
    }

    a,
    p {
      color: #97999E;
      padding: 0 22px;
      border-left: 1px solid #97999E;
      transition: opacity 0.4s;

      &:first-child {
        padding-left: 0;
        border-left: none;
      }
    }

    a:hover {
      opacity: 0.6;
    }
  }

  &__title {
    margin-top: 16px;
    margin-bottom: 0;
    font-family: "Akrobat", "Helvetica", sans-serif;
    font-weight: 800;
    font-size: 51px;
    line-height: calc(55/51);
    text-transform: uppercase;
    color: #000000;

    @media (max-width: 768px) {
      font-size: 34px;
      margin-top: 0;
    }
  }
}