<section class="about container">
  <h2 class="title-grd about__title">Кто мы</h2>
  <div class="about__info">
    <p class="about__text">Отдыхать на Алтае можно как угодно: покорять природные просторы на машине или пешком,
      купаться в реках и озерах, охотиться и рыбачить, взбираться на Золотые горы Алтая, кататься на горных лыжах,
      совершать экскурсии по удивительным ландшафтам или просто расслабляться на пляже. Здесь каждый найдет
      подходящий
      для себя вид туризма — и любитель неспешного отдыха, и экстремал, бросающий вызов дикой природе.
    </p>
    <div class="about__video-wrapper">
      <video src="" class="about__video" width="608" height="404"></video>
      <div class="about__video-preview">
        <img src="/static/images/video-img.jpg" alt="video-preview" class="image">
        <button class="about__video-button"></button>
        <p class="about__video-text">Посмотрите видео о нас</p>
      </div>
    </div>
    <ul class="about__list">
      <li class="about__item">
        <p class="about__item-title">100 000</p>
        <p class="about__item-text">Довольных клиентов</p>
      </li>
      <li class="about__item">
        <p class="about__item-title">84 655</p>
        <p class="about__item-text">Довольных клиентов</p>
      </li>
      <li class="about__item">
        <p class="about__item-title">87 963</p>
        <p class="about__item-text">Довольных клиентов</p>
      </li>
      <li class="about__item">
        <p class="about__item-title">1 454</p>
        <p class="about__item-text">Довольных клиентов</p>
      </li>
      <li class="about__item">
        <p class="about__item-title">58 787</p>
        <p class="about__item-text">Довольных клиентов</p>
      </li>
      <li class="about__item">
        <p class="about__item-title">45 322</p>
        <p class="about__item-text">Довольных клиентов</p>
      </li>
    </ul>
    <div class="about__blockquote">
      <p class="about__blockquote-title">Какой нибудь заголовок, а ниже цитата, передающая идею компании</p>
      <div class="about__blockquote-wrapper">
        <span class="about__blockquote-img"></span>
        <blockquote class="about__blockquote-text">Отдыхать на Алтае можно как угодно: покорять природные просторы на
          машине или пешком, купаться в
          реках и озерах, охотиться и рыбачить, взбираться на Золотые горы Алтая, кататься на горных лыжах, совершать
          экскурсии по удивительным ландшафтам или просто расслабляться на пляже. </blockquote>
      </div>
    </div>
  </div>
</section>