<ul class="accordion @@classes">
  <li class="accordion__item accordion__item_active">
    <p class="accordion__title">
      Как обычно проходит тур
    </p>
    <p class="accordion__text">Алтай — это уникальный регион. Кажется, здесь есть всё: заснеженные горы, широкие
      степи, таинственные леса, лекарственные растения, древние петроглифы, загадочные пещеры, необычные легенды и
      места силы</p>
  </li>
  <li class="accordion__item">
    <p class="accordion__title">
      Кто поедет со мной
    </p>
    <p class="accordion__text">Алтай — это уникальный регион. Кажется, здесь есть всё: заснеженные горы, широкие
      степи, таинственные леса, лекарственные растения, древние петроглифы, загадочные пещеры, необычные легенды и
      места силы</p>
  </li>
  <li class="accordion__item">
    <p class="accordion__title">
      Как обычно проходит тур
    </p>
    <p class="accordion__text">Алтай — это уникальный регион. Кажется, здесь есть всё: заснеженные горы, широкие
      степи, таинственные леса, лекарственные растения, древние петроглифы, загадочные пещеры, необычные легенды и
      места силы</p>
  </li>
  <li class="accordion__item">
    <p class="accordion__title">
      Кто поедет со мной
    </p>
    <p class="accordion__text">Алтай — это уникальный регион. Кажется, здесь есть всё: заснеженные горы, широкие
      степи, таинственные леса, лекарственные растения, древние петроглифы, загадочные пещеры, необычные легенды и
      места силы</p>
  </li>
  <li class="accordion__item">
    <p class="accordion__title">
      Как обычно проходит тур
    </p>
    <p class="accordion__text">Алтай — это уникальный регион. Кажется, здесь есть всё: заснеженные горы, широкие
      степи, таинственные леса, лекарственные растения, древние петроглифы, загадочные пещеры, необычные легенды и
      места силы</p>
  </li>
  <li class="accordion__item">
    <p class="accordion__title">
      Как обычно проходит тур
    </p>
    <p class="accordion__text">Алтай — это уникальный регион. Кажется, здесь есть всё: заснеженные горы, широкие
      степи, таинственные леса, лекарственные растения, древние петроглифы, загадочные пещеры, необычные легенды и
      места силы</p>
  </li>
  <li class="accordion__item">
    <p class="accordion__title">
      Кто поедет со мной
    </p>
    <p class="accordion__text">Алтай — это уникальный регион. Кажется, здесь есть всё: заснеженные горы, широкие
      степи, таинственные леса, лекарственные растения, древние петроглифы, загадочные пещеры, необычные легенды и
      места силы</p>
  </li>
</ul>