.hot {
  padding-top: 106px;
  padding-bottom: 106px;
  border-bottom: 2px solid #F3F4F8;

  @media (max-width: 1024px) {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    max-width: 210px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__swiper-buttons {
    display: flex;

    @media (max-width: 768px) {
      position: absolute;
      right: 0;
      top: 478px;
    }

    @media (max-width: 500px) {
      top: 428px;
    }
  }

  &__wrapper {
    display: flex;
    margin-top: 48px;

    @media (max-width: 768px) {
      margin-top: 20px;
      flex-direction: column;
    }
  }

  &__cashback {
    position: relative;
    min-width: 600px;
    height: 394px;
    padding: 40px 55px 40px 81px;
    margin-right: 16px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 1024px) {
      min-width: 374px;
      height: 242px;
      padding: 40px 25px 12px 50px;
    }

    @media (max-width: 768px) {
      min-width: 100%;
      margin-right: 0;
      margin-bottom: 100px;
      height: 300px;
    }

    @media (max-width: 500px) {
      height: 242px;
    }
  }

  &__text {
    max-width: 182px;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(21/18);
    text-transform: uppercase;
    color: #fff;

    &:last-child {
      max-width: 140px;
      font-size: 13px;
      line-height: calc(18/13);
    }

    @media (max-width: 1024px) {
      font-size: 13px;
      max-width: 120px;
    }
  }

  &__card {
    width: 296px;
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 216px;
    border-radius: 8px;

    @media (max-width: 768px) {
      height: 300px;
    }

    @media (max-width: 500px) {
      height: 242px;
    }
  }

  &__description {
    margin-top: 22px;
    font-size: 14px;
    line-height: calc(22/14);
  }

  .hot-swiper {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}