<section class="hot container">
  <div class="hot__header">
    <h2 class="title-h2 hot__title">горячие предложения</h2>
    <div class="hot__swiper-buttons">
      <div class="hot-swiper-button-prev swiper-button-prev swiper-button-prev_black"></div>
      <div class="hot-swiper-button-next swiper-button-next swiper-button-next_black"></div>
    </div>
  </div>
  <div class="hot__wrapper">
    <div class="hot__cashback">
      <img src="/static/images/cashback.jpg" alt="cashback" class="image">
      <p class="hot__text">Начинай путешествовать и получай кэшбэк за все путешествие</p>
      <p class="hot__text">А что бы узнать подробнее жми на баннер</p>
    </div>
    <div class="swiper hot-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide hot__card">
          <div class="hot__img-wrapper">
            <img src="/static/images/tour-1.jpg" alt="tour" class="image">
          </div>
          <p class="hot__description">Lorem ipsum dolor sit amet consectetur. Enim lectus magnis non condimentum
            massa. Ut arcu nunc velit ut
            suspendisse sed. Pharetra neque ornare purus sit in quis in.</p>
        </div>
        <div class="swiper-slide hot__card">
          <div class="hot__img-wrapper">
            <img src="/static/images/tour-4.jpg" alt="tour" class="image">
          </div>
          <p class="hot__description">Pulvinar est tempor mi suspendisse diam integer in at ullamcorper. Dolor ut
            ultricies et donec at lacus aliquet amet adipiscing.</p>
        </div>
        <div class="swiper-slide hot__card">
          <div class="hot__img-wrapper">
            <img src="/static/images/tour-2.jpg" alt="tour" class="image">
          </div>
          <p class="hot__description">Lorem ipsum dolor sit amet consectetur. Enim lectus magnis non condimentum
            massa. Ut arcu nunc velit ut
            suspendisse sed. Pharetra neque ornare purus sit in quis in.</p>
        </div>
      </div>
    </div>
  </div>
</section>