<header class="header @@classes">
  <div class="user">
    <div class="user__container header-container">
      <ul class="user__contacts">
        <li class="user__contact user__contact_bold">
          <a class="user__link" href="tel:88002007341">
            <span class="icon icon_phone"></span>
            <span class="user__tel">8 800 200 73 41</span>
          </a>
        </li>
        <li class="user__contact"><a href="#">Обратный звонок</a></li>
        <li class="user__contact">
          <span class="user__socials">Следите за нами</span>
          <a href="https://instagram.com/">
            <div class="icon icon_instagram"></div>
          </a>
          <a href="https://vk.com/">
            <div class="icon icon_vk"></div>
          </a>
        </li>
      </ul>
      <ul class="user__links">
        <li>
          <a class="user__link" href="/pages/lk">
            <span class="icon icon_favorite"></span>
            <span class="user__link-text">Избранное</span>
          </a>
        </li>
        <li>
          <a class="user__link" href="/pages/cart">
            <span class="icon icon_cart"></span>
            <span class="user__link-text">Корзина</span>
          </a>
        </li>
        <li>
          <a class="user__link user__link_js" href="#">
            <span class="icon icon_account"></span>
            <span class="user__link-text">Войти</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navigation">
    <div class="navigation__container header-container">
      <a href="@@link" class="navigation__logo">
        <div class="navigation__logo-img"></div>
        <span class="navigation__logo-text">В горы по России с комфортом</span>
      </a>
      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item navigation__item_child">
            <a href="/pages/tours">Туры в</a>
            <ul class="navigation__sublist">
              <li class="navigation__subitem">
                <a href="/pages/tours">Республика Алтай</a>
              </li>
              <li class="navigation__subitem">
                <a href="/pages/tours">Адыгея</a>
              </li>
              <li class="navigation__subitem">
                <a href="/pages/tours">Дагестан</a>
              </li>
            </ul>
          </li>
          <li class="navigation__item"><a href="/pages/catalog">Товары</a></li>
          <li class="navigation__item"><a href="/pages/pick">Подбор тура</a></li>
          <li class="navigation__item"><a href="/pages/blog">Для туристов</a></li>
          <li class="navigation__item"><a href="/pages/cashback">Горячие предложения</a></li>
          <li class="navigation__item"><a href="/pages/about">О компании</a></li>
          <li class="navigation__item"><a href="/pages/contacts">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header__burger-wrapper">
    <button class="header__burger"></button>
  </div>
</header>
<div class="popup">
  <div class="popup__wrapper">
    <button type="button" class="popup__close"></button>
    <p class="popup__title">Войти</p>
    <p class="popup__text">Укажите свой номер телефона, мы отправим на него код подтверждения</p>
    <form class="popup__form">
      <label for="popupTel">Ваш телефон</label>
      <input class="popup__input" type="tel" id="popupTel">
      <button class="button button_colored">Войти</button>
    </form>
  </div>
</div>
<div class="mobile-menu">
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item mobile-menu__item_child">
      <p href="/pages/tours">Туры в</p>
      <ul class="mobile-menu__sublist">
        <button class="mobile-menu__sublist-back"></button>
        <li class="mobile-menu__item">
          <a href="/pages/tours">Республика Алтай</a>
        </li>
        <li class="mobile-menu__item">
          <a href="/pages/tours">Адыгея</a>
        </li>
        <li class="mobile-menu__item">
          <a href="/pages/tours">Дагестан</a>
        </li>
      </ul>
    </li>
    <li class="mobile-menu__item"><a href="/pages/catalog">Товары</a></li>
    <li class="mobile-menu__item"><a href="/pages/pick">Подбор тура</a></li>
    <li class="mobile-menu__item"><a href="/pages/blog">Для туристов</a></li>
    <li class="mobile-menu__item"><a href="/pages/cashback">Горячие предложения</a></li>
    <li class="mobile-menu__item"><a href="/pages/about">О компании</a></li>
    <li class="mobile-menu__item"><a href="/pages/contacts">Контакты</a></li>
  </ul>
  <div class="mobile-menu__socials">
    <span>Следите за нами</span>
    <a href="https://instagram.com/">
      <div class="icon icon_instagram"></div>
    </a>
    <a href="https://vk.com/">
      <div class="icon icon_vk"></div>
    </a>
  </div>
</div>