<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="@@link">
        <div class="footer__logo"></div>
      </a>
      <ul class="footer__nav">
        <li class="footer__item">
          <a href="/pages/tours">Туры</a>
        </li>
        <li class="footer__item">
          <a href="/pages/catalog">Товары</a>
        </li>
        <li class="footer__item">
          <a href="/pages/pick">Подбор тура</a>
        </li>
        <li class="footer__item">
          <a href="/pages/blog">Для туристов</a>
        </li>
        <li class="footer__item">
          <a href="/pages/cashback">Горячие предложения</a>
        </li>
        <li class="footer__item">
          <a href="/pages/about">О компании</a>
        </li>
        <li class="footer__item">
          <a href="/pages/contacts">Контакты</a>
        </li>
        <li class="footer__item">
          <a href="/pages/lk">Личный кабинет</a>
        </li>
      </ul>
      <div class="footer__contacts">
        <a class="footer__tel" href="tel:88002007341">8 800 200 73 41</a>
        <div class="footer__socials">
          <a class="footer__social" href="https://instagram.com/">
            <div class="icon icon_instagram"></div>
          </a>
          <a class="footer__social" href="https://vk.com/">
            <div class="icon icon_vk"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__info">
      <a href="#">Политика конфиденциальности</a>
      <p>Сайт создан на <a href="#">ZaVod</a></p>
    </div>
  </div>
</footer>