<section class="contact container">
  <h2 class="title-grd contact__title">задать вопрос</h2>
  <p class="contact__text">Напишите нам ваш вопрос, и мы ответим вам в течении нескольких минут</p>
  <form class="contact__form">
    <div class="contact__form-row">
      <div class="contact__form-wrapper">
        <label for="name-1">Как вас зовут</label>
        <input type="text" id="name-1" name="name-1">
      </div>
      <div class="contact__form-wrapper">
        <label for="name-2">Как вас зовут</label>
        <input type="text" id="name-2" name="name-2">
      </div>
    </div>
    <div>
      <label for="message">Ваше сообщение</label>
      <textarea name="message" id="message"></textarea>
    </div>
    <button class="button button_colored contact__button">Задать вопрос</button>
  </form>
</section>