<section class="review container">
  <h2 class="title-grd review__title">отзывы</h2>
  <div class="review__swiper-buttons">
    <div class="review-swiper-button-prev swiper-button-prev swiper-button-prev_black"></div>
    <div class="review-swiper-button-next swiper-button-next swiper-button-next_black"></div>
  </div>
  <div class="swiper review-swiper">
    <ul class="review__list swiper-wrapper">
      <li class="review__item swiper-slide">
        <div class="review__img-wrapper">
          <img src="/static/images/review-1.jpg" alt="review" class="image">
          <button class="play-button play-button_inactive"></button>
        </div>
        <h3 class="review__name">Иванов иван</h3>
        <p class="review__text">отдыхал летом, велотур был,все отлично,приехал довольный и уставший)еды море
          было!!!короче все шикарно!)особенно...была вкусной и разнообразной еда)))ммм))))доставка была комфортной,
          еще и познакомился с кучей интересных людей)))</p>
      </li>
      <li class="review__item swiper-slide">
        <div class="review__img-wrapper">
          <img src="/static/images/review-2.jpg" alt="review" class="image">
        </div>
        <h3 class="review__name">Иванов иван</h3>
        <p class="review__text">отдыхал летом, велотур был,все отлично,приехал довольный и уставший)еды море
          было!!!короче все шикарно!)особенно...была вкусной и разнообразной еда)))ммм))))доставка была комфортной,
          еще и познакомился с кучей интересных людей)))</p>
      </li>
    </ul>
  </div>
</section>